/* ----- Generic Properties ----- */

body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  color: #6b6b6b;
}
a {
  text-decoration: none;
}
p,
a,
li {
  color: #999;
}
p {
  line-height: 1.5rem;
}
svg {
  padding: 5px;
  border-radius: 50%;
}
.page-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: auto;
  gap: 50px;
}
/* ----- CSS Style Class ----- */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.selected {
  color: #333;
}
/* ----- Navbar Elements ----- */
.nav {
  justify-content: space-between;
}
.nav-left,
.nav-right {
  align-items: center;
}
.nav-left {
  gap: 10px;
}
.nav-left svg {
  width: 24px;
  height: 24px;
  background-color: #333;
  fill: #fff;
}
.nav-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}
/* ----- Intro ----- */
.intro {
  text-align: center;
  margin-bottom: 20px;
}
.intro h1,
.intro p {
  padding: 0;
  margin: 0;
}
.intro h1 {
  font-size: 4rem;
  font-weight: 10;
}
/* ----- Rooms ----- */
.room-container {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
.room img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  height: 250px;
}
.room h3 {
  font-weight: 400;
}

/* ----- Team ----- */
.ourteam {
  text-align: center;
}
.ourteam h2 {
  font-size: 2rem;
  font-weight: 200;
}
.team-list {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
}
.team-member {
  margin: 10px;
  flex-direction: column;
  display: block;
}
.team-member img {
  width: 125px;
  margin-bottom: 10px;
}
.team-member h4 {
  padding: 0;
  margin: 0;
  line-height: 1rem;
}
.team-member .socials {
  margin: 10px 0;
  gap: 5px;
}
.team-member .socials svg {
  fill: #fff;
  background-color: rgba(153, 153, 153, 0.797);
  width: 14px;
  height: 14px;
  padding: 2px;
  border-radius: 50%;
}
/* ----- Footer ----- */
.footer-container {
  background-color: #282828;
  border: solid;
}
.footer-social-container {
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(10px, 100px));
}
.footer-social {
  margin: 10px;
  align-items: center;
  gap: 5px;
}
.footer-social p {
  font-size: 12px;
  font-weight: 500;
}
.footer-social svg {
  width: 10px;
  height: 10px;
  background-color: #6b6b6b;
  fill: #282828;
  border-radius: 50%;
}
.contact-info-container {
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.contact-info-container .contact-info {
  margin: 0;
}
.contact-info p,
.contact-info h4 {
  margin: 0;
  padding: 4px;
}
.contact-info h4 {
  color: rgba(255, 255, 255, 0.9);
}
.copyright {
  padding: 0.8rem;
  text-align: center;
}
.copyright p {
  margin: 0;
  font-size: 0.8rem;
}
